@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Saffron1.Models
@model Saffron1.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    var Manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currUser = Manager.FindById(User.Identity.GetUserId());
}

<h2>@ViewBag.Title.</h2>

<hr />

<div class="container">
    @*<form action="/Manage/Index/">
        <div class="col-md-4"> First Name: </div>
        <div class="col-md-8"><input type="text" name="FirstName" value="@currUser.FirstName" /> </div>
        <div class="col-md-4"> Last Name: </div>
        <div class="col-md-8"><input type="text" name="LastName" value="@currUser.LastName" /> </div>
        <input type="submit" value="Update Details" class="btn btn-primary" />
    </form>*@

    @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="col-md-4"> First Name: </div>
        <div class="col-md-8"><input type="text" name="FirstName" value="@currUser.FirstName" /> </div>
        <div class="col-md-4"> Last Name: </div>
        <div class="col-md-8"><input type="text" name="LastName" value="@currUser.LastName" /> </div>

        <input type="submit" value="Update Details" class="btn btn-primary" />
    }
  
</div>
