@using Saffron1.Models
@model AccountDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Account.Institution.Name  -  @Model.Account.AccountType.Name  </h2>

@foreach(var transaction in Model.Transactions)
{
    <h3>@transaction.Category.Name  || @transaction.Amount || @transaction.Type.Name || @transaction.Date </h3>
}



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Account.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
