@using Saffron1.Models
@model BudgetTransactionViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var budget in Model.Budgets)
{
    <h3>@budget.Name</h3>

    foreach (var budgetitem in Model.BudgetItems)
    {
        if (budgetitem.BudgetId == budget.Id)
        {
            <h4> @budgetitem.Category.Name || @budgetitem.Amount per @budgetitem.RepeatFrequency.Frequency </h4>
            foreach (var transaction in Model.Transactions)
            {
                if (transaction.CategoryId == budgetitem.CategoryId)
                {
                    <p>@transaction.Category.Name ||  Amount: @transaction.Amount</p>
                }
            }
        }
    }
}
<
